:root{
    --color-background: #e0e1dd;
    --color-background2: #415A77;
    --color-header-bg: #0D1B2A;
    --color-font: #e0e1dd;
    --color-header-neon: #1E3A5F;
}

body{
    font-family: 'Montserrat';
    font-size: 16px;
    background-color: var(--color-background);
    color: var(--color-font);
}

/**********************HEADER CONTENT*****************************/

.header-container{
    display: flex;
    background-color: var(--color-header-bg);
    justify-content: space-around;
}

/**********************HEADER TITLE*****************************/

.header-container-title{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding-left: 3em;
}

.header-title{
    font-size: 1.5rem;
    font-weight: 700;
}

.header-author{
    margin-right: 1.5rem;
    margin-bottom: 15px;
    font-weight: 700;
}


/**********************HEADER DATE*****************************/

.header-container-date{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 1.5rem;
    margin-bottom: 15px;
}


.header-date{
    color: var(--color-font);
}

/*Header Img*/

.header-container-img{
    flex: 2;
    display: flex;
    align-items: center;

}


.header-container-img img{
    display: block;
    height: 180px;
    width: 180px;
}


/**********************NAV CONTENT*****************************/

.nav-bar{
    background-color: var(--color-background2);
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.nav-bar a{
    text-decoration: none;
    color: var(--color-font);
    font-weight: bolder;
}

.nav-bar a:hover{
    text-decoration: none;
    color: var(--color-font);
    font-weight: bolder;
    opacity: .5;
}

/**********************MAIN CONTENT*****************************/



/**********************OVERVIEW CONTENT*****************************/


.overview-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    grid-template-rows: 1fr;
    color: var(--color-header-bg);
    place-items: center;
    margin-top: 5px;
    margin-bottom: 20px;
    gap: 10px;
}

.overview-item{
    height: 100%;
    width: 100%;
    gap: 10px;
    margin-top: 50px;
    background: var(--color-header-bg);
    border-radius: 25px;
    place-content: center;
    color: var(--color-font);
    text-align: center;
    display: flex;
    flex-direction: column;
}


/**********************TRANSACTIONS CONTENT*****************************/

.transactions-container{
    margin-top: 50px;
    display: grid;
    width: 100%;
    height: 80vh;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    place-items: center;
}

.transactions-div{
    background-color: var(--color-background2);
    height: 95%;
    width: 90%;
    border-radius: 50px;
    gap: 5px;
    box-shadow: 0 5px 50px var(--color-header-bg);
    text-align: center;
    place-items: center;
}

.transactions-div:hover,
.transactions-div:focus-within {
    box-shadow: 0 0 10px rgba(22, 41, 63, 0.65);
    transition: box-shadow 0.2s ease;
}

.transactions-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    text-align: center;
}

.transactions-div ul{
    grid-column: 1/-1;
    height: 100%;
}

.transactions-div li{

}

button{
    font-weight: 500;
    font-size: .875rem;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .5rem;
    background-color: var(--color-header-bg);
    transition: all 0.3s ease;
    cursor: pointer;
    color: var(--color-font);
}